<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
		    <div class="container">
			    <br /><br />
			    <center><a href="https://devs.design"><img src="https://devs.design/img/devsdesign.png" width="100px" /></a></center>
			    <br /><br />
			{{ content }}
			<footer>
			   <div class="row justify-content-md-center">
			     <div class="col-md-6">
	    			<a href="https:/devs.design">Home</a> | <a href="mailto:devsdesignapp@gmail.com">Email</a>
				</ul>
			     </div>
			   </div>
			</footer>
		    </div><!-- /.container -->
		</body>
	</html>
