<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
		    <div class="row justify-content-md-center" style="background:#000">
			<div class="col-md-12 aos-item" data-aos="fade-up"><br /><br />
			        <center><img src="https://devs.design/img/devsdesign.png" width="70px" alt="Devs Design" /></center><br />
				<h1 class="text-center" style="color:#FFF">
					blog.devs.design
				</h1>
				<br /><br />
			</div>
		    </div>
		    <br /><br />
		    <div class="row justify-content-md-center">
			     <div class="col-md-6">
			{{ content }}
				    </div>
			    </div>
			<footer>
			   <div class="row justify-content-md-center">
			     <div class="col-md-6">
	    			<a href="https:/devs.design">Home</a> | <a href="mailto:devsdesignapp@gmail.com">Email</a>
				</ul>
			     </div>
			   </div>
			</footer>
		    </div><!-- /.container -->
		</body>
	</html>
