<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
		    <div class="container">
			    <br /><br />
			    <center><img src="https://devs.design/img/devsdesign.png" width="100px" /></center>
			    <br /><br />
			{{ content }}
			<footer>
	    			<a href="mailto:devsdesignapp@gmail.com">email</a> | <a href="https:/devs.design">Devs.Design home</a>
				</ul>
			</footer>
		    </div><!-- /.container -->
		</body>
	</html>
