<!DOCTYPE html>
	<html>
		<head>
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <meta name="msvalidate.01" content="0C866D40768DA7A009840D130F7A89D5" />
		    <meta name="google-site-verification" content="5WhBrzC-0W5l0-wNOeMoiJpvD0eES_9N_s1TAgZ9_1Q" />
		    <link rel="icon" href="https://devs.design/img/devsdesign.png" sizes="16x16" type="image/png">
		    <meta name="description" content="Go from idea to design to production-ready code faster and cut down on your design + development time and cost.">
		    <meta name="author" content="Anand Satyan">
		    <link rel="stylesheet" type="text/css" href="/css/main.css">
		    {% include analytics.html %}
		    <title>Blog.Devs.Design: A blog for web designers and developers</title>
		</head>
		<body>
		    <div class="row justify-content-md-center" style="background:#000">
			<div class="col-md-12 aos-item" data-aos="fade-up"><br />
			        <center><a href="https://devs.design"><img src="https://devs.design/img/devsdesign.png" width="50px" alt="Devs Design" /></a></center><br />
				<h1 class="text-center" style="color:#FFF;font-size:1.5rem;">
					Blog.Devs.Design
				</h1>
				<br />
			</div>
		    </div>
		    <br /><br />
		    <div class="row justify-content-md-center">
			     <div class="col-lg-5 col-md-6 col-sm-12">
				     <div style="padding:15px">
				{{ content }}
				     </div>
			     </div>
		    </div>
			<footer>
			   <div class="row justify-content-md-center">
			     <div class="col-lg-5 col-md-6 col-sm-12">
				     <div style="padding:15px">
	    				<center><a href="https:/devs.design">Home</a> | <a href="mailto:devsdesignapp@gmail.com">Email</a></center>
				     </div>
				</ul>
			     </div>
			   </div>
			</footer>
		    </div><!-- /.container -->
		</body>
	</html>
